certifi==2025.1.31
charset-normalizer==3.4.1
dotenv==0.9.9
fire==0.7.0
fonttools==4.57.0
idna==3.10
lxml==5.3.2
numpy==2.2.4
opencv-python-headless==4.11.0.86
pdf2docx==0.5.8
PyMuPDF==1.25.5
pyTelegramBotAPI==4.26.0
python-docx==1.1.2
python-dotenv==1.1.0
requests==2.32.3
termcolor==3.0.1
typing_extensions==4.13.2
urllib3==2.4.0
